Indicate when jid is already registered

By responding with `<registered/>`

Where is `<registered/>` from?  I used `<conflict/>` in sgx-catapult since that seems to be the closest thing I could find in RFC 6120 Section 8.3.  But I'm happy to change it if there's a better one.

> If the host determines (based on the 'from' address) that the entity is already registered, the IQ result that it sends in response to the IQ get MUST contain an empty `<registered/>` element (indicating that the entity is already registered), SHOULD contain the registration information currently on file for the entity (although the `<password/>` element MAY be empty), and SHOULD contain an `<instructions/>` element (whose XML character data MAY be modified to reflect the fact that the entity is currently registered).

from https://xmpp.org/extensions/xep-0077.html#usecases-register

Ah, that sounds way better.  I'll make a note to fix sgx-catapult to use that, too. :)